body{
}
.profile{
    background-color: #292E37;
}
.center{
    text-align: center;
    align-items: center;
}
.center i{
    font-size: 30px;
    width: 30px;
}
.button{
    text-align: center;
    display: inline-block;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    font-size: 25px;
    padding: 5px 15px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.footer{
    color: white;
    text-align: center;
    background-color: black;
}
#objects{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("img/photo.jpg");
}
#inner{
    display: inline-block;
    vertical-align: auto;
    margin: 0 auto;
    padding: 3px;
}